body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.dynamicDiv {
	background: #ffc none repeat scroll 0 0;
	float: left;
	 /*border-radius: 10px;*/
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);*/
	box-shadow: 6px 10px 4px 1px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    transition-duration: 0.218s;
    transition-property: background, opacity, box-shadow, transform;
    transition-timing-function: ease-in;
	
	width: 230px;
	margin: 10px;
    min-height: 150px;
	padding: 5px;
	
	
}

.dynamicDiv:nth-child(even) {
	-webkit-transform:rotate(4deg);
	-o-transform:rotate(4deg);
	-moz-transform:rotate(4deg);
	background:#cfc;
}

.dynamicDiv:nth-child(3n) {
	-webkit-transform:rotate(-3deg);
	-o-transform:rotate(-3deg);
	-moz-transform:rotate(-3deg);
	background:#ccf;
}

.dynamicDiv:nth-child(5n) {
	-webkit-transform:rotate(5deg);
	-o-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	background:#fcc;
}

.dynamicDiv:hover {
	-moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
  cursor: move;
}

.toDoContainer{
	overflow: auto;	
}
.addTask{
	max-width:300px;
	margin: 0 auto;
}
.form-control{
	margin-bottom:10px;
}

span{
	font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}
.edit{
	cursor: pointer;
	float: right;
}
.done{
	cursor: pointer;
	float: right;
}
.restore{
	cursor: pointer;
	float: right;
}
.remove{
	cursor: pointer;
	float: right;
	margin-left: 10px;
}
.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}